<header class="navigation">
  <a href="/" class="logo" title="ÄLG, a solitary moose.">
    Start Here Web Dev
  </a>
  <span style="float: left;
    margin-top: 20px;
    margin-left: 0;
    position: relative;
    left: -160px;
    font-size: 11px;
               text-style: italic;
">
    Helping you become a web dev since 2014
  </span>
  <nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="www.dainmiller.ml/about">about</a></li>
      <li><a href="www.anchor.fm/startherewebdev">anchor</a></li>
      <li><a href="www.anchor.fm/startherewebdev">itunes</a></li>
      <li><a href="">overcast</a></li>
      <li><a href="">spotify</a></li>
      <li class="no-bullet"><a href="">youtube</a></li>
      <!--<li class="no-bullet"><a href="/atom.xml">rss</a></li>-->
    </ul>
  </nav>
</header>
<br />
